.done {
  color: red;
}

.card--selected {
  background-color: rgb(201, 201, 201);
}

.content--container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5vw;
}

.content--cardsList {
  width: 30%;
}

.content--card {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 2vh;
  cursor: pointer;
}

.content--benefits {
  height: 75vh;
  overflow: scroll;
}
